# If set to true, generated setters will 'chain' by default (They will return this instead of having a void return type).
lombok.accessors.chain = true
# To stop lombok from looking at parent directories for more configuration files
config.stopBubbling = true
# Add @Generated annotation to all lombok generated functions to prevent them from showing up in jacoco reports as untested functions.
lombok.addLombokGeneratedAnnotation = true